:root {
  --primary: #EA40A4;
  --business: #3A82EE;
  --personal: var(--primary);
  --light: #EEE;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  --blue: #00498c;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*<div> 태그 등의 영역 크기를 100px으로 설정했을 때

100px 이상으로 <div>가 더 튀어나와서 크기를 100px으로 딱 맞추고 싶다? box-sizing : border-box;*/ 

#under {
  margin-left: 20%;
  margin-right: 20%;
  border: 2px inset #ff9f40;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ff9f40;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: cetner;
  margin-right: 0px;
}

input:not([type="radio"]):not([type="checkbox"]), button {
  appearance: none;
  border:none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: var(--dark);
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  padding-right:1.5rem;
}

h3{
  color: #EEE;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  color: #EEE;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: #ff9f40;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 400px;
}

.create-todo input[type="text"] {
  display: block;
  width: 95%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: white;
  border-radius: 0.5rem;
  box-sizing: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.bubble.personal::after {
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color:  #3A82EE;
  border-radius: 0.5rem;
  box-shadow: var(--business-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex:  1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color:#FFF;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  margin-right: 0.5rem;
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color:var(--grey);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
  filter: brightness(0.7);
}

#weather {
  font-size: 1.5rem;
  font-weight: 500;
  float: right;
  margin-left: 50px;
  color: #ff9f40;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

#clock {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ff9f40;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
